{% extends 'base.html.twig' %}

{% block title %}Candidats index{% endblock %}

{% block body %}
    <h1>Candidats index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Address</th>
                <th>Country</th>
                <th>Nationalite</th>
                <th>Birthdate</th>
                <th>Birthplace</th>
                <th>CurrentLocation</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td>{{ candidat.id }}</td>
                <td>{{ candidat.firstName }}</td>
                <td>{{ candidat.lastName }}</td>
                <td>{{ candidat.address }}</td>
                <td>{{ candidat.country }}</td>
                <td>{{ candidat.nationalite }}</td>
                <td>{{ candidat.birthdate ? candidat.birthdate|date('Y-m-d') : '' }}</td>
                <td>{{ candidat.birthplace }}</td>
                <td>{{ candidat.currentLocation }}</td>
                <td>{{ candidat.description }}</td>
                <td>
                    <a href="{{ path('app_candidats_show', {'id': candidat.id}) }}">show</a>
                    <a href="{{ path('app_candidats_edit', {'id': candidat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_candidats_edit', {'id': app.user.id}) }}">Create new</a>
{% endblock %}
